* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


.container{

    margin: auto;
    width: 95%;
}

.ficha{
    
    width: 95%;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    /*background-color: bisque;*/
    background-image: url('/IMAGENS/fundo.png');
    background-repeat: round;
    
}

.ficha_top{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu_esquerdo{
    margin: auto;
    padding-left: 30px;
}

.menu_direito{
    margin: auto;
    padding-left: 1rem;
    width: 100%;
}

.menu_direito select{
    margin-right: 20px;
}
.caixa_direita{
    display: flex;
    flex-direction: row;
   
    width: 100%;
    height: 100px;
}

.ficha_meio{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 90%;
}


.caixa_media_esquerda{
   
    width: 40%;
    height: 1170px;
    display: flex;
    flex-direction: column;
}

.caixa_ficha_media{
    display: flex;
    flex-direction: column;
    width: 67%;

    height: 1167px
}

.caixa_media_direita{
    border-left: double;
    border-right: double;
    border-top: double;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;

}

.caixa_int_esquerda{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*CAIXA SUPERIOR INTERNA DIREITA*/
.caixa_int_direita{
    
    border-left: double;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.caixa_int_direita p{
    width: 100%;
    margin: auto;
    text-align: center;
}

.caixa_int_direita textarea{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    font-family:'MedievalSharp';
    font-size: 15px;
    padding: 10px;
}

.caixa_int_direita2{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.caixa_int_direita3{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.caixa_int_direita4{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.caixa_int_direita1{
    display: flex;
    flex-direction: column;
    margin: auto;
}


/*COLUNA DE ARMAS*/




.ficha_baixo{
    display: flex;
    flex-direction: row;
}

.ficha_top_int{
    width: 100%;
    border-top: double;
    border-left: double;
    height: 68%;
    display: flex;
    flex-direction: row;
}

.ficha_bottom_int{
    width: 100%;
    border-left: double;
    border-bottom: double;
    height: 31%;
}

.ficha_baixa_direita{
    width: 33%;
    
    height: 50;
}

.caixa_int_esquerda_baixo{
    width: 50%;
 
    height: 50%;
}

.ficha_tree{
    width: 101%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.coluna_esquerda{
    width: 50%;
    height: 129%;
    display: flex;
    flex-direction: column;
}

.coluna_direita{
    width: 50%;
    height: 129%;
    display: flex;
    flex-direction: column;
}

.obj1{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
}

.obj1 input{
    width: 90%;
    margin-top: 10px;
}

.contorno{

    padding: 10px;
    text-align: center;
    height: 98%;
    border: double;
}

.obj2{
    width: 100%;

    height: 95%;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.obj2_esquerdo{
    width: 25%;
}

.obj2_direito{
    width: 70%;
}
.obj2_esquerdo input{
    border-radius: 30%;
    width: 100%;
    height: 25px;
    margin-top: 5px;
    border-width: thick;
    text-align: center;
    font-family:'MedievalSharp';font-size: 15px;
}

.obj2_direito input{
    width: 100%;
    height: 28px;
    margin-top: 10px;
    text-align: center;
    font-family:'MedievalSharp';font-size: 15px;
    border: transparent;
    border-radius: 20px;
}


.cxs_esquerda{
    width: 50%;
    border-right: double;
    height: 100%;
    
}

.cxs_direita{
    width: 50%;

    height: 100%;
    display: flex;
    padding-left: 5px;
    flex-direction: column;
}

.cxs_direita input{
    text-align: center;
    font-family: 'MedievalSharp';
    font-size: 16px;
    border: none;
    width: 20%;
}

li{
    list-style: none;
    border: 1px solid;
    border-radius: 10px;
    width: 87%;
    height: 115px;
    font-family: 'MedievalSharp';
    font-size: 16px;
    text-align: center;
    margin: auto;
    margin-bottom: 16px;
}

.dados_roll{

    border-radius: 50%;
    width: 52%;
    height: 38px;
    display: flex;
    margin: auto;
    margin-top: -15px;
    border-width: thick;
    text-align: center;
    font-family: 'MedievalSharp';
    font-size: 20px;
}



.atributo_caixa{
    border-radius: 5px;
    width: 83%;
    height: 74px;
    margin: auto;
    border: none;
    display: flex;
    background: beige;
    text-align: center;
    font-family: 'MedievalSharp';
    font-size: 30px;
}



#inspiracao{
    border: solid 1px;
    width: 30%;
    height: 20px;
    border: none;
    margin: 4px;
    border-radius: 5px;
}

#bonus_proeficiencia{
    border: solid 1px;
    width: 30%;
    height: 20px;
    border: none;
    margin: 4px;
    border-radius: 5px;
}

#shield_armor{
    display: flex;
    flex-direction: row;


}

#shield_armor input{
    width: 50%;
    border: none;
    border-radius: 5px;
    display: flex;
    margin: auto;
    height: 40px;
}

#shield_armor p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
    font-family: 'MedievalSharp';font-size: 12px;
}

#classe_armor{
    margin: 2px;
    width: 50%;
    border-radius: 5px;
    border: solid 1px;
}

#iniciativa{
    margin: 2px;
    width: 50%;
    border-radius: 5px;
    border: solid 1px;
}

#deslocamento{
    margin: 2px;
    width: 50%;
    border-radius: 5px;
    border: solid 1px;
}

.box_vida{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.box_vida input{
    width: 70%;
    height: 40px;
    border: none;
    margin-left: 1.5rem;
    text-align: center;
}
    
.box_vida p{
    margin: auto;
    text-align: center;
    font-family: 'MedievalSharp';font-size: 15px;
}

#vidas_atuais {
    border-radius: 5px 5px 0  0;
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: none;
    background-color:aliceblue;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;

}

#vidas_temporais {
    border-radius:  0  0 5px 5px;
    border-top: none;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    background-color:aliceblue;
    width: 90%;
    margin: auto;

}


.box_bottom{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

#dados_vida {
    margin: 5px;
    background-color: aliceblue;
    width: 70%;
    border: 1px solid;
    border-radius: 5px;
    
}

#dados_vida input{
    border: none;
    width: 50%;
    margin-left: 1rem;
    height: 50px;
    display: flex;
    margin: auto;
}

#dados_vida p{
    font-family: 'MedievalSharp';font-size: 12px;
    text-align: center;
}

#teste_morte{
    width: 85%;
    border: 1px solid;
    background-color: aliceblue;
    border-radius: 5px;
    margin-right: 5px;
}

#teste_morte input{
    border: none;
    margin-top: 5px;
    width: 10%;
}

#teste_morte p{
    font-family: 'MedievalSharp';font-size: 12px;
    text-align: center;
}


button:hover{
    background-color: #8b5606;
    transition: 10ms;
    font-family: system-ui;
}

button{
    width: 174px;
    padding: 8px 0px;
    margin: 5px;
    border: none;
    font-family: system-ui;
    border-radius: 10px;
    background-color: #aa6702;
    box-shadow: 0px 10px 20px -5px #000000;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    box-sizing: border-box;
    color: blanchedalmond;
}

.manuTop{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.talentos{
    width: 100%;
    height: 98%;
    display: flex;
    flex-direction: row;
   
    
}


.talentos textarea{
    display: flex;
    margin: auto;
    width: 100%;
    height: 95%;
    border-radius: 25px;
    border-width: thick;
}


@media only screen and (max-width: 950px){
    .container{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .container{
        flex-direction:column ;
    }
}